<span class="title">Dogstargram</span>



<form action="/createalbum" method="POST">
    <label for="name">Album name</label>
    <input name="albumname" type="text" required />
    <label for="date">date(ex) 2020-04-05)</label>
    <input name="date" type="date" required/>
    <label for= "share">share:</label>
    <input name="share" type="checkbox" value= "yes">
    
    <button class="btn">create</button>
    
</form>
<a href="/home"><button>Back</button></a>