   <span class="title">Dogstargram</span>
   <img src = "https://cdn.dribbble.com/users/281280/screenshots/6508914/shibbabbig.png"  width="200" height="100"  style= " display:block"/>
        <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
        <input type="button" class="btn" onclick=" location.href='/others'" value="Look Other user's photo"/>
